/*
!SimulationCore/
!CBDT/
!XStreamWrapper/
XStreamWrapper/org/*
XStreamWrapper/com/*
!ProcessingWrapper/
ProcessingWrapper/icon/*
ProcessingWrapper/japplemenubar/*
ProcessingWrapper/processing/*
ProcessingWrapper/com/*
ProcessingWrapper/gluegen/*
ProcessingWrapper/javax/*
ProcessingWrapper/jogamp/*
ProcessingWrapper/jogl/*
!.gitignore