/*
!SimulationCore/
!CBDT/
!XStreamWrapper/
XStreamWrapper/org/*
XStreamWrapper/com/*
!ProcessingCoreWrapper/
ProcessingCoreWrapper/icon/*
ProcessingCoreWrapper/japplemenubar/*
ProcessingCoreWrapper/processing/*
!.gitignore