<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="simulation.extensionpoint.simulationplugin">
      <client
            class="cbdt.CBDTplugin">
      </client>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="SimulationCore.id1"
            name="Cbdt">
         <property
               name="appName"
               value="Cbdt">
         </property>
      </product>
   </extension>

</plugin>
