/gluegen-rt.dll
/jogl_desktop.dll
/jogl_mobile.dll
/libgluegen-rt.jnilib
/libgluegen-rt.so
/libjogl_desktop.jnilib
/libjogl_desktop.so
/libjogl_mobile.jnilib
/libjogl_mobile.so
/libnativewindow_awt.jnilib
/libnativewindow_awt.so
/libnativewindow_macosx.jnilib
/libnativewindow_x11.so
/libnewt.jnilib
/libnewt.so
/nativewindow_awt.dll
/nativewindow_win32.dll
/newt.dll
