<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="simulation.extensionpoint.simulationunit" name="SimulationUnit" schema="schema/simulation.extensionpoint.simulationunit.exsd"/>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.pde.build.Build"
            name="simulationCore">
         <property
               name="appName"
               value="simulationCore">
         </property>
      </product>
   </extension>

</plugin>
