<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="simulation.extensionpoint.simulationplugin" name="SimulationPlugin" schema="schema/simulation.extensionpoint.simulationplugin.exsd"/>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.pde.build.Build"
            name="Simulation Container">
         <property
               name="appName"
               value="Simulation Container">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>


</plugin>
